.my_page h1,
.my_page p,
.my_page h2,
.my_page button {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
    letter-spacing: 0.5px;
}

.my_page p {
    margin: 30px auto;
    text-align: center;
    font-size: 16px;
}

.my_page span {
    color: brown;
}

.my_page table {
    border-collapse: separate;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    font-variant: normal;
}

.my_page tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.my_page td {
    display: table-cell;
    vertical-align: inherit;
    width: 53px;
    height: 29px;
}

.my_page tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.my_page strong {
    font-weight: bold;
}

.my_page h3 {
    font-size: 18px;
    font-weight: 600;
    color: #0098da;
    border-bottom: #0098da 2px solid;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 30px;
    padding-right: 0;
    text-transform: uppercase;
    margin-top: 15px;
}

.my_page h4 {
    font-size: 18px;
    font-weight: 600;
    color: #0098da;
    border-bottom: #0098da 2px solid;
    display: inline-block;
    padding-bottom: 5px;
    padding-right: 0;
    text-transform: uppercase;
    margin-top: 15px;
}

.my_page .g1 {
    margin-bottom: 20px;
    margin-top: 30px;
}

.my_page .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.my_page .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.my_page .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .my_page .close:hover,
    .my_page .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.my_page .drop1 {
    float: left;
    width: 10%;
    margin-bottom: 20px;
}

.my_page #size_select {
    width: 15%;
    margin-bottom: 20px;
}

.my_page img {
    max-width: 100%;
    height: auto;
}

.my_page #chartdiv,
.my_page #chartdiv1,
.my_page #chartdiv2,
.my_page #chartdiv3,
.my_page #chartdiv4,
.my_page #chartdiv5 {
    width: 50%;
    float: left;
}

.my_page #chartdiv1,
.my_page #chartdiv2,
.my_page #chartdiv3,
.my_page #chartdiv4,
.my_page #chartdiv5 {
    height: 500px;
}

.my_page .details {
    width: 50%;
    float: right;
}

.my_page .placement-tb {
    display: inline-block;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 45% !important;
}

.my_page .placement-title {
    font-size: 13px;
    font-weight: 600;
}

    .my_page .placement-title span {
        color: rgb(214, 70, 70);
    }

.my_page .placement-text p {
    color: rgb(72, 72, 72);
    text-align: justify;
}

.my_page .rows {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-left: 50px;
    margin-right: 50px;
}

    .my_page .rows > * {
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }

.my_page .graph-pnl {
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 6px;
    margin-bottom: 24px;
    min-height: 350px;
}

.my_page .size_chart {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

@media (min-width: 992px) {
    .my_page .col-lg-3 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

@media screen and (max-width: 600px) {
    .my_page .details,
    .my_page #chartdiv,
    .my_page #chartdiv1,
    .my_page #chartdiv2,
    .my_page #chartdiv3,
    .my_page #chartdiv4 {
        width: 90%;
    }
}
